<div class="tl-table-wrapper">
  @if (loading) {
    <div class="tl-table__loading">Loading...</div>
  } @else {
    <table class="tl-table">
      <thead>
        <tr>
          @for (col of columns; track col.key) {
            <th>{{ col.label }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of rows; track $index) {
          <tr (click)="rowClick.emit(row)" class="tl-table__row">
            @for (col of columns; track col.key) {
              <td>{{ row[col.key] }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</div>
